---
import { config } from "../config";
---

<nav class="flex items-center justify-between flex-wrap bg-transparent p-6">
    <a href={config.baseurl + "/"}>
        <div class="flex items-center flex-shrink-0 text-white mr-6 select-none">
            <img src={config.baseurl + config.siteIcon} class="mr-4 rounded shadow" width="30" alt={config.siteName}>
            <span class="font-semibold text-xl tracking-tight hidden md:block" id="serverLogoName">{config.siteName}</span>
        </div>
    </a>
    <div class="block flex-grow flex items-center w-auto">
        {config.navLinks && 
            <div class="text-base flex-grow text-right pb-1 lg:pb-0">
                {config.navLinks.map((link) => (
                    <a 
                        href={config.baseurl + link.url} 
                        rel="noopener" 
                        target={link.newtab ? "_blank" : undefined}
                        class={`block inline-block ${
                            Astro.url.pathname === link.url ? "text-white" : "text-teal-200 hover:text-white"
                        } mr-4`}
                    >
                        {link.name}
                    </a>
                ))}
            </div>
        }
    </div>
</nav>