@use '@carbon/react/scss/themes' as *;

//overriding theme tokens
@use '@carbon/react/scss/theme' with (
  $theme: (
    text-primary: #f7fff4,
    text-secondary: #f7fff4,
    icon-primary: #f7fff4,
    icon-secondary: #f7fff4,
    background: #334a5f,
    background-active: #334a5f,
    background-selected: #334a5f,
    layer-01: #334a5f,
  )
);
@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

@use '@/components/SiteHeader/site-header';

@use '@/app/home/landing-page';
@use '@/app/repos/repo-page';
@use '@/app/games/games-page';
@use '@/pages/articles/articles-page';

/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  padding: 0;
  //  background: var(--cds-background);
}

.cds--content .cds--css-grid {
  max-width: 100%;
  @include breakpoint(md) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
